@import "_colors.scss";
@use "form.scss";

.header {
  background-color: $header-blue;
  overflow: hidden;
  .header__left {
    .header__left__logo {
      margin-top: 30px;
    }
  }
  .header__right {
    padding-top: 10px;
    form {
      label {
        margin: 0 10px;
      }
      .login {
        margin-top: 9px;

        align-items: center;
        justify-content: center;
      }
    }
  }
}
